html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("img/background3.png");
}

.navBar {
  background-image: url("img/background2.jpg");
}
.footer {
  background-image: url("img/background2.jpg");
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 600px;
}
.content-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 600px;
}
.content-dashboard {
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.content-description {
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(62, 57, 57, 0.7);
  border-radius: 10px;
  width: 600px;
}
.content-rating {
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(62, 57, 57, 0.7);
  border-radius: 10px;
  width: 600px;
  margin-left: 30px;
  padding-left: 50px;
}

.content-rating .button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.content-rating .average-rating {
  text-align: center;
}
.content-rating .star-icon {
  font-size: 25px;
}

.content-controls {
  color: white;
  font-family: "PressStart2P";
  padding: 20px;
  background-color: rgba(62, 57, 57, 0.7);
  border-radius: 10px;
  width: 800px;
  margin-left: 30px;
}
.social-icon {
  font-size: 30px;
  margin: 0 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 25px;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 25px;
}
@font-face {
  font-family: PressStart2P;
  src: url(../public/PressStart2P-Regular.ttf);
}
.PressStart2P {
  font-family: PressStart2P;
  font-size: small;
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comment-form .comment-form-textarea {
  width: 600px;
  margin-bottom: 10px;
}
.comment-form button[type="submit"] {
  margin-top: 10px;
}
