html,
body {
  margin: 0;
  padding: 0;
}
.appPage {
  /* background-image: url("img/gaoryn_screenshot2.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.nav-list-item {
  margin: auto 20px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.navBar {
  background-image: url("img/background2.jpg");
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 25px;
  background-color: white;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 25px;
  background-color: white;
}
