.carousel-root {
  height: 500px;
  padding: 0 20px;
}

.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 80%;
  max-height: 100%;
}

.slide-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

.slide-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 16px;
}
